@model gaming.data.Models.news

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutYouPlay.cshtml";
}


<h2>Edit</h2>

@using (Html.BeginForm())
{




    <!-- Main Content -->
    <section class="content-wrap">
        <!-- Banner -->
        <div class="youplay-banner banner-top xsmall">


            <div class="image" style="background-image: url(@Url.Content("~/Content/YouPlay/assets/images/aa.jpg"))" ; data-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;">
            </div>
            <div class="info" data-top="opacity: 1; transform: translate3d(0px,0px,0px);" data-top-bottom="opacity: 0; transform: translate3d(0px,150px,0px);" data-anchor-target=".youplay-banner.banner-top">
                <div>
                    <div class="container">
                        <h2>Edit a News </h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Banner -->

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="col-md-9">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.idNews)
                @Html.HiddenFor(model => model.DatePub)
                @Html.HiddenFor(model => model.Image)
                <div class="row">
                    <div class="col-md-6">
                        <p>News Title :</p>
                        <div class="youplay-input">
                            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p>News Description:</p>
                        <div class="youplay-input">
                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="align-right">

                                <br />
                                <br />
                                <div class="align-center">
                                    <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Save Changes">Confirm</button>
                                    <button action="/News/List" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Back to list">List</button>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>


                <!-- Order Button -->
                <!-- /Order Button -->
                <!-- Right Side -->
                <div class="col-md-3">
                    <br />
                    <br /><br />
                    <br /><br />
                    <br />
                    <!-- Side Popular News -->
                    <div class="side-block right-side">

                        <div class="block-content p-0">
                            <!-- Single News Block -->
                            <!-- /Side Popular News -->
                            <!-- Side Popular News -->
                            <div class="side-block right-side">

                                <div class="block-content p-0">
                                    <!-- Single News Block -->
                                    <div class="row youplay-side-news">
                                        <div class="col-xs-3 col-md-4">
                                            <a href="store-product-1.html" class="">





                                            </a>
                                        </div>
                                        <div class="col-xs-9 col-md-8">



                                            <form action="/News/Edit" method="post" enctype="multipart/form-data"></form>

                                        </div>
                                    </div>
                                    <!-- /Single News Block -->



                                </div>
                            </div>
                            <!-- /Side Popular News -->
                        </div>
                        <!-- /Right Side -->



    </section>
    <!-- Banner -->

    <section class="youplay-banner small mt-80">

        <div class="image" style="background-image: url(@Url.Content("~/Content/YouPlay/assets/images/game-kingdoms-of-amalur-reckoning-4-1920x1080.jpg"))" ; background-size cover;" data-top-bottom="background-position: 50% -150px;" data-bottom-top="background-position: 50% 150px;">
        </div>
        <div class="info align-center">
            <div>
                <h2 class="mb-40">LevelUP</h2>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="owl-carousel" data-autoplay="6000">





                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
}