@model IEnumerable<GUI.Models.Index>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutYouPlay.cshtml";
}


@helper Truncate(string input, int lenght)
{

if (input.Length <= lenght)
{
        @input
}
else
{
        @input.Substring(0, lenght) <text> ... </text>
}

}










<!-- Main Content -->
<section class="content-wrap">
    <!-- Banner -->
    <section class="youplay-banner banner-top">
        <div class="image" style="background-image:url(@Url.Content("~/Content/YouPlay/assets/images/banner-witcher-3.jpg"))" data-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;">
        </div>
        <div class="info" data-top="opacity: 1; transform: translate3d(0px,0px,0px);" data-top-bottom="opacity: 0; transform: translate3d(0px,150px,0px);" data-anchor-target=".youplay-banner.banner-top">
            <div>
                <div class="container">
                    <h2>level: <br>Up</h2>
                    <em>Hello ;)</em>
                    <br>
                    <br>
                    <br>
                    <a class="btn btn-lg" href="#!">join Us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /Banner -->
    <!-- Images With Text -->
    <h2 class="container h1">Event <a href="#!" class="btn pull-right">See More</a></h2>
    <div class="youplay-carousel">

        @foreach (var item in Model)
            {
                if (item.Pic != null)
                {


                <a class="angled-img" href="@Url.Action("DetailsV","Event", new { id = item.idEvent })">
                    <div class="img">

                        <img src=@Html.DisplayFor(modelItem => item.Pic) alt="">

                    </div>
                    <div class="over-info">
                        <div>
                            <div>
                                <h4>@Html.DisplayFor(modelItem => item.Etitle) </h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            }
        }
    </div>
    <!-- /Images With Text -->
    <!-- Popular -->
   
    <!-- /Popular -->
    <!-- Specials -->
    @*<h2 class="container h1">News <a href="#!" class="btn pull-right">See More</a></h2>
                <div class="youplay-carousel">

                    <a class="angled-img" href="#!">
                        <div class="img img-offset">
                            <img src=@Html.DisplayFor(modelItem => item.Image) alt="">
                            <div class="badge bg-default">
                                -20%
                            </div>
                        </div>
                        <div class="bottom-info">
                            <h4>@Html.DisplayFor(modelItem => item.Ntitle)</h4>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="price">
                                        $39.99 <sup><del>$49.99</del></sup>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

            }
        }*@
    </div>
    <!-- /Specials -->
    <!-- Preorder -->
    <div class="h2"></div>
    <section class="youplay-banner small">
        <div class="image" style="background-image:url(@Url.Content("~/Content/YouPlay/assets/images/banner-witcher-3.jpg")" ; background-size cover;" data-top-bottom="background-position: 50% -150px;" data-bottom-top="background-position: 50% 150px;">
        </div>
        <div class="info container align-center">
            <div>
                <h2>The next Event:<br> Wild Hunt</h2>

                <!-- See countdown init in bottom of the page -->
                <div class="countdown h2" data-end="2017/01/10"></div>
                <br>
                <br>

            </div>
        </div>
    </section>
    <!-- /Preorder -->
    <!-- Latest News -->
    <h2 class="container h1">Latest News</h2>
    <section class="youplay-news container">

        <!-- Single News Block -->
        @foreach (var item in Model)
        {
            if (item.Image != null)
            {
                <div class="news-one row">
                    <div class="col-md-4">
                        <a href="blog-post-2.html" class="angled-img">
                            <div class="img">
                                <img src=@Html.DisplayFor(modelItem => item.Image) alt="">
                            </div>
                            <div class="youplay-hexagon-rating youplay-hexagon-rating-small" data-max="10" data-size="50" title="9 out of 10">
                                <span>9</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="clearfix">
                            <h3 class="h2 pull-left m-0"><a href="blog-post-2.html">@Html.DisplayFor(modelItem => item.Ntitle)</a></h3>
                            <span class="date pull-right"><i class="fa fa-calendar"></i> @Html.DisplayFor(modelItem => item.DatePub)</span>
                        </div>

                        <div class="description">
                            @*@Html.DisplayFor(modelItem => item.description)*@
                            @Truncate(item.description, 200)
                        </div>
                        <a href="@Url.Action("DetailsV","News", new { id = item.idNews })" class="btn read-more pull-left">Read More</a>
                    </div>
                </div>
            }
        }
        <!-- /Single News Block -->

    </section>
    <!-- /Latest News -->
    <!-- Partners -->
    <section class="youplay-banner small mt-80">
        <div class="image" style="background-image:url(@Url.Content("~/Content/YouPlay/assets/images/banner-bg.jpg"))" ; background-size cover;" data-top-bottom="background-position: 50% -150px;" data-bottom-top="background-position: 50% 150px;">
        </div>
        <div class="info align-center">
            <div>
                <h2 class="mb-40">Partners</h2>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="owl-carousel" data-autoplay="6000">
                            <div class="item">

                                <img src="@Url.Content("~/Content/YouPlay/assets/images/partner-logo-1.png")" alt="">

                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="@Url.Content("~/Content/YouPlay/assets/images/partner-logo-2.png")" alt="">
                                </a>
                            </div>
                            <div class="item">

                                <img src="@Url.Content("~/Content/YouPlay/assets/images/partner-logo-3.png")" alt="">
                            </div>
                            <div class="item">

                                <img src="@Url.Content("~/Content/YouPlay/assets/images/partner-logo-4.png")" alt="">

                            </div>
                            <div class="item">

                                <img src="@Url.Content("~/Content/YouPlay/assets/images/partner-logo-5.png")" alt="">

                            </div>
                            <div class="item">

                                <img src="@Url.Content("~/Content/YouPlay/assets/images/partner-logo-6.png")" alt="">

                            </div>
                            <div class="item">

                                <img src="@Url.Content("~/Content/YouPlay/assets/images/partner-logo-7.png")" alt="">

                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="@Url.Content("~/Content/YouPlay/assets/images/partner-logo-8.png")" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Partners -->
    <!-- Features -->
    <h2 class="container h1"></h2>
    <section class="youplay-features container">



        @*<div class="col-md-3 col-xs-12">
                <div class="feature angled-bg">
                    <i class="fa fa-users"></i>
                    <h3>Community</h3>
                    <small>The largest gaming community</small>
                </div>
            </div>*@
    </section>
    <!-- Footer -->
    <footer></footer>
    <!-- /Footer -->
</section>
<!-- /Main Content -->
<!-- Search Block -->
<div class="search-block">
    <a href="#!" class="search-toggle glyphicon glyphicon-remove"></a>
    <form action="http://html.nkdev.info/youplay/dark/search.html">
        <div class="youplay-input">
            <input type="text" name="search" placeholder="Search...">
        </div>
    </form>
</div>
<!-- /Search Block -->
<!-- jQuery -->
<script type="text/javascript" href="@Url.Content("~/Content/YouPlay/assets/plugins/jquery/jquery.min.js")"></script>
<!-- CSS Shapes Polyfill -->
<script type="text/javascript" href="@Url.Content("~/Content/YouPlay/assets/plugins/css-shapes-polyfill/shapes-polyfill.min.js")"></script>
<!-- Hexagon Progress -->
<script type="text/javascript" href="@Url.Content("~/Content/YouPlay/assets/plugins/jquery.hexagonprogress/jquery.hexagonprogress.min.js")"></script>
<!-- Bootstrap -->
<script type="text/javascript" href="@Url.Content("~/Content/YouPlay/assets/plugins/bootstrap/js/bootstrap.min.js")"></script>
<!-- Skrollr -->
<script type="text/javascript" href="@Url.Content("~/Content/YouPlay/assets/plugins/skrollr/skrollr.min.js")"></script>
<!-- Smooth Scroll -->
<script type="text/javascript" href="@Url.Content("~/Content/YouPlay/assets/plugins/smoothscroll/smoothscroll.js")"></script>
<!-- Owl Carousel -->
<script type="text/javascript" href="@Url.Content("~/Content/YouPlay/assets/plugins/owl.carousel/owl.carousel.min.js")"></script>
<!-- Countdown -->
<script type="text/javascript" href="@Url.Content("~/Content/YouPlay/assets/plugins/jquery.coundown/jquery.countdown.min.js")"></script>
<!-- youplay -->
<script type="text/javascript" href="@Url.Content("~/Content/YouPlay/assets/youplay/js/youplay.min.js")"></script>
<!-- init youplay -->
<script>
    if (typeof youplay !== 'undefined') {
        youplay.init({
            smoothscroll: false,
        });
    }
</script>
<script type="text/javascript">
    $(".countdown").each(function () {
        $(this).countdown($(this).attr('data-end'), function (event) {
            $(this).text(
              event.strftime('%D days %H:%M:%S')
            );
        });
    })
</script>
    </body>


<!-- Mirrored from html.nkdev.info/youplay/dark/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Nov 2015 15:19:34 GMT -->
    </html>
